{% extends 'store/_mini-base.html' %}
{% load static %}
{% block title %}
    <title>فراموشی رمز عبور</title>
{% endblock %}
{% block css %}
    <style>
        .account-box{
            margin-top: 150px;
        }
        .snackbar {
            position: fixed;
            bottom: -60px;
            background-color: #ff5722;
            color: white;
            width: 50%;
            right: 25%;
            left: 25%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-duration: 0.3s;
            z-index: 5000;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                <div class="account-box">
                    <a href="#" class="logo">
                        <img src="{% static 'store/asset/image/homePage/logo.png' %}" alt="">
                    </a>
                    <div class="account-box-title">فراموشی رمز عبور</div>
                    <div class="account-box-content">
                        <div class="form-account">
                            <div class="form-account-title mt-4">شماره تلفن:</div>
                            <div class="form-account-row">
                                <label for="phone-number" class="input-label"></label>
                                <input id="phone-number" class="input-field text-right" type="text" pattern="\d*" maxlength="11"
                                    placeholder="شماره تلفن خود را وارد نمایید">
                            </div>
                            <div class="form-account-row form-account-submit mt-5 mb-4">
                                <div class="parent-btn">
                                    <button class="dk-btn dk-btn-info" onclick="forgotPassword()">
                                        ارسال رمز عبور
                                        <i class="now-ui-icons arrows-1_refresh-69"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="snackbar" class="snackbar">
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/forgot-password.js' %}"></script>
{% endblock %}