{% extends 'store/_mini-base.html' %}
{% load static %}
{% block title %}
    <title>ایجاد حساب کاربری</title>
{% endblock %}
{% block css %}
    <style>
        .input-field{
            padding-right: 50px!important;
        }
        .form-account-row{
            position: relative;
        }
        .show-password{
            position: absolute;
            left: 22px;
            top: 13px;
            font-size: 20px;
            cursor: pointer;
            color: gray;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                <div class="account-box">
                    <a href="{% url 'store:home' %}" class="logo">
                        <img src="{% static 'store/asset/image/homePage/logo.png' %}" alt="">
                    </a>
                    <div class="account-box-title">تغییر رمز عبور</div>
                    <div class="account-box-content">
                        <div class="form-account">
                            <div class="form-account-title">رمز عبور قبلی</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i
                                        class="now-ui-icons ui-1_lock-circle-open"></i>
                                </label>
                                <input class="input-field text-right" type="password" id="current-password"
                                    placeholder="رمز عبور قبلی خود را وارد نمایید">
                                <i class="show-password fa fa-eye-slash align-middle" id="show-current-password"></i>
                            </div>
                            <div class="form-account-title">رمز عبور جدید</div>
                            <div class="form-account-row">
                                <label class="input-label"><i
                                        class="now-ui-icons ui-1_lock-circle-open"></i></label>
                                <input class="input-field  text-right" type="password" id="new-password"
                                    placeholder="رمز عبور جدید خود را وارد نمایید">
                                <i class="show-password fa fa-eye-slash align-middle" id="show-new-password"></i>
                            </div>
                            <div class="form-account-title">تکرار رمز عبور جدید</div>
                            <div class="form-account-row">
                                <label class="input-label"><i
                                        class="now-ui-icons ui-1_lock-circle-open"></i></label>
                                <input class="input-field text-right" type="password" id="new-password-again"
                                    placeholder="رمز عبور جدید خود را مجددا وارد نمایید">
                                <i class="show-password fa fa-eye-slash align-middle" id="show-new-password-again"></i>
                            </div>
                            <div id="password-error-box" class="my-3 d-block">

                            </div>
                            <div class="form-account-row form-account-submit">
                                <div class="parent-btn">
                                    <button class="dk-btn dk-btn-info" onclick="changePassword()">
                                        تغییر رمز عبور
                                        <i class="now-ui-icons arrows-1_refresh-69"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/change-password.js' %}"></script>
{% endblock %}